{{!-- perfil de usuario ,foto de perfil,motos,rutas --}}



<h1>Hola {{user.username}}</h1>


<h4>Nombre del usuario:</h4>
<p>{{name}}</p>

<p><strong>Mis Motos: </strong> {{#each motorbikes}}{{name}}<br />{{/each}}</p>
<p></p><strong> Mis Rutas: </strong> {{#each itineraries}}{{name}}{{/each}}</p>